<div class="container">
  <div class="vertical-center">
    <div
      style="
        top: 10vh;
        position: absolute;
        padding: 5vw;

        width: 90vw;
      "
    >
      <span class="txt-3">INICIAR SESIÓN</span>
      <br />
      <br />
    </div>

    <form style="padding: 5vw" [formGroup]="loginForm" (ngSubmit)="login()">
      <mat-form-field>
        <input
          matInput
          placeholder="Email or User"
          formControlName="username"
          name="username"
          required
        />
        <mat-error> Please provide a valid email address or username</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          type="password"
          placeholder="Password"
          formControlName="password"
          name="password"
          required
        />
        <mat-error> Please provide a valid password </mat-error>
      </mat-form-field>

      <br />

      <button mat-raised-button color="primary" type="submit">
        INICIAR SESIÓN
      </button>
      <br />
      <br />
      <button
        mat-raised-button
        color="secondary"
        type="button"
        [routerLink]="'/signup'"
      >
        REGISTRARSE
      </button>
    </form>
  </div>
</div>
