<div class="container">
  <p class="mat-display-1">Welcome {{ user?.name }}</p>
  <hr />
  <p class="mat-title">Recomended Jobs:</p>
  <div *ngIf="user">
    <div class="breed-container">
      <mat-card>
        <mat-card-header>
          <mat-card-title> Available Jobs </mat-card-title>
        </mat-card-header>
        <img mat-card-image src="{{ img }}" style="margin: auto" />
      </mat-card>
    </div>
  </div>
  <hr />
  <p class="mat-title">Here is a list of jobs:</p>
  <p class="mat-subheading-1">Click on any of them to see the details</p>
</div>
