<div
  style="top: 5vh; position: absolute"
  class="container"
  *ngIf="user?.type == 'employee'"
>
  <div>
    <span class="txt-3">Bienvenido {{ user?.name }}</span>
    <br />
    <br />
  </div>
  <p class="mat-display-1"></p>
  <hr />
  <p class="mat-title">Existen tabajos disponibles:</p>
  <div *ngIf="user">
    <div class="breed-container">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            You will see recommended jobs here according to your preferences and
            skills
          </mat-card-title>
        </mat-card-header>
      </mat-card>
    </div>
  </div>
  <hr />
  <p class="mat-title">Here is a list of jobs:</p>
  <p class="mat-subheading-1">Click on any of them to see the details</p>
  <app-job></app-job>
</div>

<div
  style="top: 5vh; position: absolute"
  class="container"
  *ngIf="user?.type == 'employer'"
>
  <div>
    <span class="txt-3">Bienvenido {{ user?.name }}</span>
    <br />
    <br />
  </div>
  <p class="mat-display-1"></p>
  <hr />
  <p class="mat-title">Tus trabajos:</p>
  <div *ngIf="user">
    <div class="breed-container">
      <app-employer-jobs></app-employer-jobs>
    </div>
  </div>
  <hr />
  <p class="mat-title">Here is a list of people matching your search:</p>
  <p class="mat-subheading-1">Click on any of them to see the details</p>
  <app-employee></app-employee>
</div>
