<div
  style="
    top: 20vh;
    position: absolute;
    padding: 5vw;
    
    width: 90vw;
  "
>
  <span class="txt-3">EMPECEMOS!</span>
  <br />
  <br />
  <span class="txt-3-s">Ingresa para tener la oportunidad de alcanzar posibles empleados o llegar a conseguir la oportunidad de trabajo que tanto has esperado.!</span>
</div>

<div
  style="
    bottom: 1em;
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 5vw;
    width: 90vw;
    vertical-align: middle;
  "
>
  <br />
  <span
    ><mat-chip-list>
      <mat-chip color="primary" selected [routerLink]="'/login'"
        >INICIAR SESIÓN</mat-chip
      >
      <br />
      <mat-chip color="secondary" selected [routerLink]="'/signup'"
        >REGISTRARSE</mat-chip
      >
    </mat-chip-list></span
  >
</div>
