<div class="container">
  <div class="vertical-center">
    <div
      style="
        top: 10vh;
        position: absolute;
        padding: 5vw;

        width: 90vw;
      "
    >
      <span class="txt-3">REGISTRO</span>
      <br />
      <br />
    </div>

    <form style="padding: 5vw" [formGroup]="signupForm" (ngSubmit)="signup()">
      <mat-form-field>
        <input
          matInput
          placeholder="Name"
          formControlName="name"
          name="name"
          required
        />
        <mat-error> Please provide a valid name</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Lastname"
          formControlName="lastname"
          name="lastname"
        />
        <mat-error> Please provide a valid lastname</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Username"
          formControlName="username"
          name="username"
        />
        <mat-error> Please provide a valid username</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Email"
          formControlName="email"
          name="email"
          required
        />
        <mat-error> Please provide a valid email address</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          type="password"
          placeholder="Password"
          formControlName="password"
          name="password"
          required
        />
        <mat-error> Please provide a valid password </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Type</mat-label>
        <mat-select formControlName="type" required>
          <mat-option value="employer"
            >Employer (Looking for people)</mat-option
          >
          <mat-option value="employee">Employee (Looking for job)</mat-option>
        </mat-select>
        <mat-error> Please provide a valid type</mat-error>
      </mat-form-field>

      <br />

      <button mat-raised-button color="primary" type="submit">
        REGISTRARSE
      </button>
      <br />
      <br />
      <button
        mat-raised-button
        color="secondary"
        type="button"
        [routerLink]="'/login'"
      >
        INICIAR SESIÓN
      </button>
    </form>
  </div>
</div>
