<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-button [routerLink]="'/welcome'" style="font-size: 1em">
      <div><span style="color: #3edabb">INS</span>TRABAJO</div>
    </button>
    <span class="t-spacer"></span>
    <span *ngIf="salukiService.isLoggedIn | async"
      ><button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="'/home'">Home</button>
        <button mat-menu-item [routerLink]="'/profile'">Profile</button>
        <button
          mat-menu-item
          (click)="salukiService.logout()"
          [routerLink]="'/login'"
        >
          Sign Out
        </button>
      </mat-menu></span
    >
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
<app-splash></app-splash>
