<div class="bg-img">
  <div
    style="
      bottom: 1em;
      position: absolute;
      display: flex;
      flex-direction: column;
      padding: 5vw;
      width: 90vw;
      vertical-align: middle;
    "
  >
    <span class="txt-1">CONTRATA</span>
    <br />
    <span class="txt-2">PERSONAL</span>
    <br />
    <span class="txt-1-s"
      >No pierdas tiempo entrevistando personal o lanzando anuncios buscando los
      empleados que necesitas para solo unos dias o una tarea urgente!</span
    >

    <br />
    <br />
    <span
      ><mat-chip-list>
        <mat-chip color="primary" selected [routerLink]="'/welcome3'"
          >SIGUIENTE</mat-chip
        >
        <br />
        <mat-chip color="secondary" selected [routerLink]="'/welcome'">REGRESAR</mat-chip>
      </mat-chip-list></span
    >
  </div>
</div>
