/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto;
}

.txt-1 {
  color: white;
  font-size: 2.5em;
  font-weight: bold;
}
.txt-1-s {
  color: white;
  font-size: 1.2em;
}
.txt-1-xs {
  color: white;
  font-size: 1.5em;
  font-weight: lighter;
}
.txt-2 {
  color: #3edabb;
  font-size: 2.5em;
  font-weight: bold;
}
.txt-2-s {
  color: #3edabb;
  font-size: 1em;
}
.txt-3 {
  color: black;
  font-size: 2.5em;
  font-weight: bold;
}
.txt-3-xs {
  color: black;
  font-size: 1.5em;
  font-weight: lighter;
}

.mat-chip.mat-standard-chip.mat-chip-selected.mat-primary {
  background-color: #3edabb;
  width: 100%;
  text-align: center;
  display: inline-block;
}
.mat-raised-button.mat-primary {
  background-color: #3edabb;
  width: 100%;
  text-align: center;
  display: inline-block;
  border-radius: 20px;
}

.mat-raised-button.mat-secondary {
  background-color: white;
  color: #3edabb;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  border: 1px solid;
  border-color: #3edabb;
  border-radius: 20px;
}

.mat-chip.mat-standard-chip.mat-chip-selected.mat-primary {
  background-color: #3edabb;
  color: white;
}

.mat-chip.mat-standard-chip.mat-chip-selected.mat-secondary {
  background-color: white;
  color: #3edabb;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  border: 1px solid;
  border-color: #3edabb;
}

.mat-chip.mat-standard-chip.mat-chip-selected.mat-secondary {
  background-color: white;
  color: #3edabb;
  border: #3edabb;
  border: 1px solid;
  vertical-align: middle;
  border-color: #3edabb;
}

.mat-toolbar.mat-primary {
  top: 0;
}