<mat-card>
  <mat-card-header>
    <mat-card-title>Nuevo trabajo</mat-card-title>
    <mat-card-subtitle>Crea uno nuevo</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="../../assets/plus.png" style="margin: auto" />
  <mat-card-actions>
    <button mat-raised-button color="primary" [routerLink]="'/job-detail'">
      Crear
    </button>
  </mat-card-actions>
</mat-card>

<mat-card *ngFor="let job of jobs">
  <mat-card-header>
    <mat-card-title>{{ job.name }}</mat-card-title>
    <mat-card-subtitle>Q{{ job.rate }} por hora</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="../../assets/job1.jpeg" style="margin: auto" />
  <mat-card-actions>
    <button mat-raised-button color="primary">Ver</button>
  </mat-card-actions>
</mat-card>
